<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>
    <link rel="stylesheet" href="/css/catalog.css">
    <link rel="shortcut icon" href="/image/icS.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <header>
        <div class="nav-left">
            <a href="/brend">О нас</a>
            <a href="/news">Новости</a>
            <a href="/support">Помощь</a>
            <a href="/product/catalog">Каталог</a>
        </div>
        <div class="site-title">STYLE</div>
        <div class="nav-right">
            <div class="cart-icon"> <a href="/product/cart"><img src="/image/shop.svg" alt="search"/></a></div>
            <a href="/auth/profile" class="btn-profile">Личный кабинет</a>
        </div>
    </header>

    <section>
        <% Object.keys(productsByCategory).forEach(category => { %>
            <% if (productsByCategory[category].length > 0) { %>
                <div class="category">
                    <div class="name">
                        <h2><%= category %></h2>
                    </div>
                    <div class="cards">
                        <% productsByCategory[category].forEach(product => { %>
                            <div class="card">
                                <img src="<%= product.ImageURL %>" alt="<%= product.ProductName %>">
                                <div class="card-title"><%= product.ProductName %></div>
                                <div class="card-description"><%= product.Price %> РУБЛЕЙ</div>
                                <form action="/product/add-to-cart/<%= product.ProductID %>" method="post">
                                    <button type="submit" class="add-to-cart">В корзину</button>
                                </form>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </section>

    <footer>
        <div class="line"></div>
        <div class="line"></div>
        <div class="links">
            <a href="/brend">О нас</a>
            <a href="/news">Новости</a>
            <a href="/support">Помощь</a>
            <a href="/product/catalog">Каталог</a>
            <a href="/product/cart">Корзина</a>
            <a href="/auth/profile">Личный кабинет</a>
            <a href="/auth/profile">Мои объявления</a>
            <a href="/auth/login">Вход и регистрация</a>
        </div>
        <div class="text">
            Style - сайт объявлений в России.<br>
            Оплачивая услугу на нашем сайте, вы принимаете офёрту.<br>
            Сайт использует рекомендательные технологии.
        </div>
        <div class="icons">
            <a href="#"><img src="/image/vk.png" alt="Иконка 1" class="icon"></a> 
            <a href="#"><img src="/image/Instagram.png" alt="Иконка 2" class="icon"></a> 
            <a href="#"><img src="/image/Facebook.png" alt="Иконка 3" class="icon"></a> 
        </div>
    </footer>
</body>
</html>